@font-face {
    font-family: CyberpunkFont;
    src: url('fonts/AlienWorld-owj0x.ttf');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    font-family: CyberpunkFont;
}

main{
    background: url('images/cyberpunk.gif');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.navigation{
    /* border: 1px solid green; */
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
}

article{
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen{
    /* border: 1px solid yellow; */
    height: 100%;
    width: 70%;
}

.chat-container{
    /* border: 1px solid crimson; */
    border: 5px dotted #dadada;
    height: 100%;
    width: 30%;
    padding: 0 2em;
}

.chat{
    overflow: hidden;
    height: 100%;
}

.chat h2{
    text-align: center;
    color: white;
    margin-top: 1em;
    text-shadow: 0 0 10px #fff;
}

.chat__item{
    /* border: 1px solid blue; */
    background-image: linear-gradient(to right top, #091833, #0a2240, #092d4d, #06385a, #004467);
    box-shadow: 0 0 20px #045680;
    margin-top: 1em;
    padding: 1em 1.2em;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.chat__item-message{
    margin-top: 1em;
    line-height: 1.4em;
}

